/* DATA INFO BOX */
.tran-infoBox {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 5rem;
}

.tran-infoBox-header {
  font-weight: bold;
}

.tran-infoBox-span {
  color: rgb(170, 170, 170);
}

/* DATA MANAGEMENT BOX */
.tran-managementBox {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.tran-managementBox select {
  height: 1.5rem;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 1rem;
  margin: 0 0.5rem 0;
  padding: 0 1rem 0;
  appearance: none;
}

.tran-managementBox button {
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tran-managementBox button:hover {
  transform: rotate(180deg);
}

.tran-managementBox img {
  height: 1.3rem;
}

.tran-managementBox section:last-child {
  display: flex;
}

.tran-managementBox p {
  color: lightgray;
  font-style: italic;
  margin-right: 1rem;
}

/* DATA TABLE BOX */
.tran-tableBox {
  width: 70vw;
  margin: 2rem;
  height: 30rem;
}

/* DATA EXISTS */
.tran-table {
  border-collapse: collapse;
  padding-top: 2rem;
  width: 100%;
}

.tran-table th,
.tran-table td {
  font-size: 0.8rem;
  padding: 0.3rem;
  height: 1rem;
  text-align: left;
}

.tran-table th {
  background-color: rgb(35, 45, 55);
  color: white;
  text-align: center;
  position: relative;
}

.tran-table th button {
  background-color: transparent;
  color: white;
  font-size: 0.7rem;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* /* DATA TABLE BORDERS */
.tran-table
  th:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
  border-right: 1px solid rgb(230, 230, 230);
}

.tran-table td {
  border-top: 1px solid rgb(220, 220, 220);
}

/* DATA TABLE SIZES */
.tran-table th:nth-child(1),
.tran-table th:nth-child(2),
.tran-table td:nth-child(1),
.tran-table td:nth-child(2) {
  width: 5rem;
}

.tran-table th:nth-child(3),
.tran-table td:nth-child(3) {
  width: 7rem;
}

.tran-table th:nth-child(4),
.tran-table td:nth-child(4) {
  width: 7rem;
}

.tran-table td:nth-child(6),
.tran-table td:nth-child(7) {
  width: 2rem;
}

/* DATA TABLE OTHER FEATURES */
.tran-table td:nth-child(4) {
  text-align: right;
}

.tran-table td:nth-child(5) {
  color: rgb(170, 170, 170);
}

.tran-table td:nth-child(6),
.tran-table td:nth-child(7) {
  text-align: right;
  padding: 0.3rem 0 0.3rem;
}

.tran-table td:nth-child(6) img,
.tran-table td:nth-child(7) img {
  height: 1.1rem;
}

.tran-table td:nth-child(6) button,
.tran-table td:nth-child(7) button {
  background-color: transparent;
  border: none;
  filter: opacity(20%);
  padding: 0;
  transition-duration: 0.3s;
}

.tran-table td:nth-child(6) button:hover,
.tran-table td:nth-child(7) button:hover {
  border: none;
  background-color: transparent;
  filter: opacity(100%);
}

.tran-table td:nth-child(6) button:focus {
  border: none;
  background-color: transparent;
  filter: opacity(100%);
}
