/* INFO BOX WITH CHART */
.over-info-box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.over-info {
  background-color: white;
  width: 26rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.over-info h1 {
  color: rgb(20, 80, 140, 0.8);
  font-size: 2.5rem;
}

.over-info-overall-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.over-info-overall {
  background-color: rgb(20, 80, 140, 0.6);
  color: white;
  height: 3rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.over-info-donutChart-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.over-info-donutChart {
  width: 45%;
}

.over-info-lineChart {
  background-color: white;
  width: 50rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* INCOMES AND EXPENSES TABLES */
.over-table-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.over-table {
  background-color: white;
  width: 80rem;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
}

.over-table table {
  border-collapse: collapse;
  width: 100%;
}

.over-table table th,
.over-table table td {
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem 0.2rem;
  height: 1rem;
}

.over-table-box table tr th:nth-child(1) {
  text-align: left;
}

/*  MAIN TABLE SPECS */
.over-table table th {
  color: white;
  border-right: 1px solid rgb(220, 220, 220);
}

.over-table table td:not(:first-child) {
  width: 5.5rem;
  text-align: right;
}

.over-table table tr:not(:first-child) {
  border-top: 1px solid rgb(220, 220, 220);
}

.over-table table td:nth-child(1) {
  text-align: left;
}

.over-table table tbody tr:last-child td {
  font-weight: bold;
  border-top: 1px solid black;
}

/* INCOME TABLE SPECS */
.over-table-incomes th {
  background-color: rgb(20, 80, 140, 0.6);
}

.over-table-incomes tbody tr:last-child td:first-child {
  color: rgb(20, 80, 140);
}

/* EXPENSE TABLE SPECS */
.over-table-expenses th {
  background-color: rgb(80, 20, 100, 0.6);
}

.over-table-expenses tbody tr:last-child td:first-child {
  color: rgb(80, 20, 100);
}
