.navbar {
  background-color: rgb(245, 245, 245);
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  z-index: 9;
}

.navbar-notAuth {
  display: flex;
  justify-content: end;
}

.navbar-isAuth {
  display: flex;
  justify-content: space-between;
}

.navbar button {
  width: 4.5rem;
  margin-right: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  transition-duration: 0.5s;
}

.navbar h2 {
  margin-left: 6rem;
}

.navbar-login {
  color: rgb(35, 45, 55);
  border: 1px solid rgb(35, 45, 55, 0.5);
}

.navbar-login:hover {
  border-radius: 0rem;
}

.navbar-signup {
  background-color: rgb(35, 45, 55);
  color: white;
  border: none;
}

.navbar-signup:hover {
  border-radius: 0rem;
}
