/* VERTICAL NAVBAR */
.vNav {
  height: 100vh;
  background-color: #222B35;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.vNav-default-style {
  width: 4rem;
}

.vNav-hovered-style {
  width: 10rem;
}

.vNav:hover div span {
  opacity: 1;
}

.vNav div {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.vNav div img {
  filter: brightness(0) invert(1);
  width: 2rem;
}

.vNav div span {
  color: white;
  margin-left: 1rem;
  opacity: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
}

/* HORIZONTAL NAVBAR */
.hNavbar {
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #eeeded;
}
